{% extends "base/base.html" %}
{% load static %}
{% block head %}
    <link href="{% static 'profile_css/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'profile_css/style.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
{#    {% if object.is_organization %}#}
{#        {{ object.auth.o }}#}
{#    {% else %}#}
{#        {{ object.personalprofile.first_name }}#}
{#    {% endif %}#}


    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img">
                    <img src="img/img-profile.jpg" class="img-responsive" alt=""/>
                </div>
                <!-- Profile Image -->
            </div>
            <div class="col-md-9">
                <div class="name-wrapper">
                    <h1 class="name">{{ object.auth.first_name }} {{ object.auth.last_name }}</h1>
                    <span>Freelance Web Designer</span>
                </div>
                <p>
                    {{ object.personalprofile.about }}
                </p>


                <div class="row">
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>{{ object.personalprofile.date_of_birth }}</strong>
                            <small>BIRTH</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>{{ object.personalprofile.current_address }}</strong>
                            <small>Current Address</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="personal-details">
                            <strong>{{ object.personalprofile.permamnent_address }}</strong>
                            <small>Permanent Address</small>
                        </div>
                    </div>
                </div>

                <ul class="social-icon">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- .header-->

<section class="section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>My Activity</h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">100%</div>
                            <div class="item-stats-name">Jobs Success</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">96%</div>
                            <div class="item-stats-name">On Budget</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">99%</div>
                            <div class="item-stats-name">On Time</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">89%</div>
                            <div class="item-stats-name">Repeat Hire Rate</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .activity-wrapper -->

<section class="work-history-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Work History</h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">15096</div>
                            <div class="item-stats-name">hours worked</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">687</div>
                            <div class="item-stats-name">Work Done</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">30</div>
                            <div class="item-stats-name">Hours weekly Available</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="item-stats">
                            <div class="item-stats-value">24</div>
                            <div class="item-stats-name">Hour Response Time</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .work-history-wrapper -->

<section class="expertise-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>My Specialities</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>WordPress Theme Development</h3>

                            <p>
                                Synergistically strategize customer directed resources rather than principle.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Joomla Template Development </h3>

                            <p>
                                Quickly repurpose reliable customer service with orthogonal ideas. Competently.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Drupal Template Development</h3>

                            <p>
                                Interactively myocardinate high standards in initiatives rather than next-generation.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Shopify Theme Design</h3>

                            <p>
                                Dynamically initiate client-based convergence vis-a-vis performance based. </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- .row -->


    </div>
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-wrapper">

                            <h3>CODING SKILLS</h3>

                            <div class="progress-item">
                                <span class="progress-title">HTML5</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 62%"><span
                                            class="progress-percent"> 62%</span>
                                    </div>
                                </div>
                                <!-- .progress -->
                            </div>
                            <!-- .skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">CSS3</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 90%"><span
                                            class="progress-percent"> 90%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">PHP</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 75%;"><span
                                            class="progress-percent"> 75%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">JavaScript</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 55%;"><span
                                            class="progress-percent"> 55%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->


                        </div>
                        <!-- /.progress-wrapper -->
                    </div>
                    <div class="col-md-6">
                        <div class="progress-wrapper">
                            <h3>DESIGN TOOLS</h3>

                            <div class="progress-item">
                                <span class="progress-title">Photoshop</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="62" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 90%"><span
                                            class="progress-percent"> 90%</span>
                                    </div>
                                </div>
                                <!-- .progress -->
                            </div>
                            <!-- .skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">Illustrator</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 70%"><span
                                            class="progress-percent"> 50%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">Sketch</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 75%;"><span
                                            class="progress-percent"> 75%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                            <div class="progress-item">
                                <span class="progress-title">MACAW</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 55%;"><span
                                            class="progress-percent"> 55%</span>
                                    </div>
                                </div>
                                <!-- /.progress -->
                            </div>
                            <!-- /.skill-progress -->

                        </div>
                        <!-- /.progress-wrapper -->
                    </div>
                </div>
                <!--.row -->
            </div>
        </div>

    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-experience">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2015 - Present</small>
                            <h3>Senior Developer</h3>
                            <h4>Computer & Motor Ltd.</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2012 - 2015</small>
                            <h3>Webdesigner</h3>
                            <h4>BizzNiss</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2012 - 2015</small>
                            <h3>Web Developer</h3>
                            <h4>Unique Soft</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2010 - 2012</small>
                            <h3>Front-end Developer</h3>
                            <h4>Somsom LLC</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
            </div>
            <!--.row-->
        </div>
    </div>
    <!-- .container -->
</section>
<!-- .section-experience -->

<section class="section-education section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Education</h2></div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-item">
                            <small>2010 - 2012</small>
                            <h3>MA Product Design</h3>
                            <h4>University of California</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                        <div class="content-item">
                            <small>2007 - 2010</small>
                            <h3>Business marketing course</h3>
                            <h4>Royal Academy of Business</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                        <div class="content-item">
                            <small>2002 - 2006</small>
                            <h3>BA (Hons) Design</h3>
                            <h4>University of Michigan</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
                <!--.row-->
            </div>

        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>
<!-- .section-education -->

<section class="section-profile section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Marketplace Profile</h2></div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="img/m-logo-studio.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">ENVATO STUDIO</a></h3>
                                    Seamlessly formulate covalent outsourcing vis-a-vis virtual resources. Distinctively conceptualize.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="img/m-logo-freelancer.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">FREELANCER</a></h3>
                                    Seamlessly formulate covalent outsourcing vis-a-vis virtual resources. Distinctively conceptualize.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="img/m-logo-upwork.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">UPWORK</a></h3>
                                    Seamlessly formulate covalent outsourcing vis-a-vis virtual resources. Distinctively conceptualize.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="img/m-logo-peopleperhour.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">PEOPLEPERHOUR</a></h3>
                                    Seamlessly formulate covalent outsourcing vis-a-vis virtual resources. Distinctively conceptualize.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--.row-->
            </div>

        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>


<section class="review-section section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Recent Reviews</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div id="review">
                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/img-testimonial-2.jpg" alt="avatar"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Sofia Voigt</div>
                                <!--.user-name-->

                                <div class="rating" data-star_rating="5.0">
                                    <div class="rating-total">
                                        <!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
                                        <div class="rating-progress rate-5">
                                        </div>
                                    </div>
                                </div>
                                <!--.rating-->
                            </div>
                        </div>


                        <div class="review-text">
                            Seamlessly leverage other's transparent resources after resource maximizing channels.
                            Continually grow economically sound collaboration and idea-sharing and compelling
                            technology. Collaboratively unleash.
                        </div>
                        <!--.review-text-->
                    </div>
                    <!--.item-->

                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/img-testimonial-1.jpg" alt="avatar"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Matteo Müller</div>
                                <!--.user-name-->

                                <div class="rating" data-star_rating="4.0">
                                    <div class="rating-total">
                                        <!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
                                        <div class="rating-progress rate-4">
                                        </div>
                                    </div>
                                </div>
                                <!--.rating-->
                            </div>
                        </div>
                        <div class="review-text">
                            Uniquely target empowered relationships after client-based e-commerce. Energistically morph
                            worldwide resources for future-proof content. Authoritatively transform granular users
                            whereas intermandated applications.
                        </div>
                        <!--.review-text-->
                    </div>
                    <!--.item-->

                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/img-testimonial-3.jpg" alt="avatar"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Noel Schulze</div>
                                <!--.user-name-->

                                <div class="rating" data-star_rating="3.0">
                                    <div class="rating-total">
                                        <!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
                                        <div class="rating-progress rate-3">
                                        </div>
                                    </div>
                                </div>
                                <!--.rating-->
                            </div>
                        </div>
                        <div class="review-text">
                            Enthusiastically mesh an expanded array of infrastructures through distinctive customer
                            service. Distinctively reintermediate e-business information vis-a-vis excellent networks.
                            Uniquely fabricate just.
                        </div>
                        <!--.review-text-->
                    </div>
                    <!--.item-->

                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/unknown.png" alt="avatar"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Jason Lehmann</div>
                                <!--.user-name-->

                                <div class="rating" data-star_rating="2.0">
                                    <div class="rating-total">
                                        <!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
                                        <div class="rating-progress rate-2">
                                        </div>
                                    </div>
                                </div>
                                <!--.rating-->
                            </div>
                        </div>
                        <div class="review-text">
                            Proactively network unique potentialities rather than one-to-one process improvements.
                            Dynamically leverage existing progressive methods of empowerment rather than efficient
                            functionalities. Continually.
                        </div>
                        <!--.review-text-->
                    </div>
                    <!--.item-->

                    <div class="item">
                        <div class="media">
                            <div class="media-left">
                                <img src="img/unknown.png" alt="avatar"/>
                            </div>

                            <div class="media-body">
                                <div class="user-name">Jason Lehmann</div>
                                <!--.user-name-->

                                <div class="rating" data-star_rating="1.0">
                                    <div class="rating-total">
                                        <!-- Change rating percentage rate-0, rate-1, rate-2, rate-3, rate-4, rate-5  -->
                                        <div class="rating-progress rate-1">
                                        </div>
                                    </div>
                                </div>
                                <!--.rating-->
                            </div>
                        </div>
                        <div class="review-text">
                            Progressively leverage existing 24/7 paradigms through exceptional process improvements.
                            Completely revolutionize compelling architectures for team driven partnerships. Quickly
                            transform focused value.
                        </div>
                        <!--.review-text-->
                    </div>
                    <!--.item-->

                </div>
                <!--#review-->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- .review-section -->

<section class="section-contact section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <address>
                            <strong>Address</strong><br>
                            1355 Market Street, Suite 900<br>
                            San Francisco, CA 94103

                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Phone Number</strong><br>
                            +61 3 8376 6284
                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Mobile Number</strong><br>
                            {{ object.auth.phone }}
                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:#">{{ object.auth.email }}</a>
                        </address>
                    </div>

                </div>


{% endblock %}