<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <!--<li class="breadcrumb-item"><a href="#">Admin</a> </li>-->
    <li class="breadcrumb-item active">Dashboard</li>

    <!-- Breadcrumb Menu-->
    <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a class="btn font-weight-bold text-info" href="#"><i class="icon-speech"></i></a>
            <a class="btn font-weight-bold text-info" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
            <a class="btn font-weight-bold text-info" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
    </li>
</ol>