{% load static %}
<!-- Bootstrap and necessary plugins -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>


<!-- Plugins and scripts required by all views -->
{#    <script src="bower_components/chart.js/dist/Chart.min.js"></script>#}


<!-- GenesisUI main scripts -->

<script src="{% static 'js/app.js' %}"></script>


<!-- Plugins and scripts required by this views -->

<!-- Custom scripts required by this view -->
<script src="js/views/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    {% if messages %}
        {% for message in messages %}
            <script>
                toastr["{{ message.tags }}"]("{{ message }}");
            </script>
        {% endfor %}
    {% endif %}
{% comment %} <script src="{% static 'js/views/main.js' %}"></script>
<script src="{% static 'js/views/charts.js' %}"></script>
<script src="{% static 'js/views/widgets.js' %}"></script> {% endcomment %}


