{% extends "base_home.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="row">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <strong>Change password</strong>
            </div>
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="card-block">
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% for field in form.visible_fields %}
                            <div class="form-group row">
                                <label for="{{ field.auto_id }}" class="col-md-3 col-form-label">{{ field.label_tag }}</label>
                                {% if form.is_bound %}
                                    {% if field.errors %}
                                        {% render_field field class="form-control is-invalid" %}
                                        {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                    {% endif %}
                                {% else %}
                                   <div class="col-md-6">
                                     {% render_field field class="form-control" %}
                                   </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                <!--/.row-->
                <button type="submit" class="btn btn-success">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}