{% extends 'base_home.html' %}
{% load widget_tweaks %}


{% block content %}
<div class="row">
  <div class="col-sm-10">
      <div class="card">
        <div class="card-header">
          <strong>Sign Up</strong>
        </div>
        <form method="post" class="form-horizontal">
          {% csrf_token %}
          {{ form.errors }}
          <div class="card-block">
              {% if form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
              </div>
              {% endif %}

              {% for field in form.visible_fields %}
                <div class="form-group row">
                    <label for="{{ field.auto_id }}" class="col-md-3 col-form-label">{{ field.label_tag }}</label>
                    {% if form.is_bound %}
                      {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                      {% else %}
                        {% render_field field class="form-control is-valid" %}
                      {% endif %}
                    {% else %}
                      <div class="col-md-6">
                        {% render_field field class="form-control" %}
                      </div>
                    {% endif %}
                </div>
              {% endfor %}
          <!--/.row-->
          <button type="submit" class="btn btn-success">Sign Up</button>
      </form>
    </div>
  </div>
</div>

  {% comment %} <h3>Sign up</h3>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-success">Sign up</button>
  </form> {% endcomment %}
{% endblock %}
